.bande{
    background-color: royalblue; /*couleur de la bande */
    text-align: center;
}

h1 {
    color: black;  /* A propos du titre */
    text-align:center
}

P { 
    font-style: italic;/* A proposr de la phrae du dessous */
    color: black;
    text-align:center
    
    }
.bande a {
    display: inline-block;
    background-color:dodgerblue; /*couleur de fond des blocs */
    color: black; /*couleur du text de la page */
    text-align: center;
    padding: 20px 20px;
    text-decoration: lawngreen;
}

a:hover { /*Effet quand on met notre souris une accueil par exemple */
    background-color: royalblue;
}

.active {
    background-color: black;
    
}
body {  /* Traitement de ce qu'il y a dansa le body */
   background-color: skyblue;  
   background-image: url(../Image/avion2.jpg);
   background-repeat: no-repeat;
   background-position: center;
}
   div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }

h2 {
    text-align: center;
}

img {   /* effet sur les images*/
    opacity: 0.5;
  }
  
  img:hover {
    opacity: 1.0;
  }
  
#conteneur
h3 {
    
    display: flex;
    justify-content: center;
    align-items: center;
}

