.bande{
    background-color: royalblue; /*couleur de la bande */
    text-align: center;
}
/* A propos du titre */
h1 {
    color: black;  
    text-align:center
}

/* A propos de la phrae du dessous */
P {
   font-style: italic;
  color: black;
  text-align:center
}
.bande a {
    display: inline-block;
    background-color:dodgerblue; /*couleur de fond des blocs */
    color: black; /*couleur du text de la page */
    text-align: center;
    padding: 20px 20px;
    text-decoration: lawngreen;
}
/*Effet quand on met notre souris une accueil par exemple */
a:hover { 
    background-color: royalblue;
}
    
/* Traitement de ce qu'il y a dansa le body */
body {   
   background-image: url(../Image/ciel.jpg);
   background-attachment: fixed; 
}

/* Pied de page */
footer {
  display: flex;
  justify-content: center;
  padding: 5px;
  background-color: royalblue;
  color: #fff;
}

/* bouton top */

#scrollUp{
position: fixed;
bottom : 10px;
right: -100px;
opacity: 0.3;
}