.bande{
    background-color: royalblue; /*couleur de la bande */
    text-align: center;
}

h1 {
    color: black;  /* A propos du titre */
    text-align:center
}

P { 
    font-style: italic;/* A proposr de la phrae du dessous */
    color: black;
    text-align:center
    
    }
.bande a {
    display: inline-block;
    background-color:dodgerblue; /*couleur de fond des blocs */
    color: black; /*couleur du text de la page */
    text-align: center;
    padding: 20px 20px;
    text-decoration: lawngreen;
}

a:hover { /*Effet quand on met notre souris une accueil par exemple */
    background-color: royalblue;
}

.active {
    background-color: black;
    
}
body {
   background-color: skyblue; /* couleur de fond*/
  
h2 {
    text-align: center;
}
#conteneur
h3 {
    display: flex;
    justify-content: center;
    align-items: center;

}
