.bande{
    background-color: black ;
    text-align: center;
}
h1 {
    color: black;
    text-align:center
}
P {
    font-style: italic;
    color: black;
    text-align:center
}
.bande a {
    display: inline-block;
    background-color: red; /*couleur de fond */
    color: white; /*couleur du text de la page */
    text-align: center;
    padding: 15px 15px;
    text-decoration: lawngreen;
}

a:hover {
    background-color: darkorange;
}

.active {
    background-color: black;
}
body {
   /* background-image: url(""");
    background-position: top right;
    background-repeat: no-repeat;
    background-attachment:fixed;*/
}
h2 {
    text-align: center;
}
#conteneur
h3 {
    display: flex;
    justify-content: center;
    align-items: center;

}
