/* Bande de naviagation */
.bande{
    background-color: royalblue; /*couleur de la bande */
    text-align: center;
}
/* A propos du titre */
h1 {
    color: black;  
    text-align:center
}

/* A propos de la phrae du dessous */
p {
  font-style: italic;
  color: black;
  text-align:center
}
.bande a {
    display: inline-block;
    background-color:dodgerblue; /*couleur de fond des blocs */
    color: black; /*couleur du text de la page */
    text-align: center;
    padding: 20px 20px;
    text-decoration: lawngreen;
}
/*Effet quand on met notre souris une accueil par exemple */
a:hover { 
    background-color: royalblue;
}

/* Fond du site */
body {   
    background-image: url(../Image/ciel.jpg);
    background-attachment: fixed; 
 }

.map{
    position: relative;
}

.map_img{
    width: 92%;
    height: 100%;
    float: left;
    padding-right: 10rem;
    
}

.map_img path{
    fill:lightslategrey;
    stroke: white;
    stroke-width: 0.5px;
    transition: fill 0.2s;
}

.map_img path:hover{ /* Tout les pays du monde en rouge sauf ceux de notre liste */
    fill:red;
}


.map_list{

    font-size: 1.3rem;
    height: 100%;

    


}

.map_list a{ /* Cadre autour des destinations et écriture */
    text-decoration: none;
    color: royalblue;
    transition: color 0.2s;

}

.map_list ul{
    position: fixed;
    right: 1rem;

}

.map_list ul li{ /* Fond du cradre des destinations */
    
    text-align: center;
    background-color: white;
    border:solid 1px royalblue;
    list-style-type: none;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin: 1px;

}


.map_list ul li.is-active{
    background-color: royalblue
}



.map_list a.is-active{


    color:white;
}

.map_img .is-active path{ /* Pays de notre liste sont bleu quand notre souris passe dessus */

    fill: royalblue;

}

/* Pied de page */
footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: royalblue;
    color: #fff;
}
#scrollUp{
    position: fixed;
    bottom : 10px;
    right: -100px;
    opacity: 0.3;
}